.box-header {
  border-bottom: 1px solid black;
}
.box-header a {
  margin-top: 19px;
}

.posts-list {
  list-style: none;
  border-bottom: 0.5px solid gray;
}
.post {
  border-bottom: 0.1px solid thistle;
}
.post p {
  margin-top: 15px;
}
.post button {
  margin-top: 7.5px;
}
